.line {
    width: 70px;
    height: 5px;
    background-color: black;
    margin: auto;
}

body {
    text-align: center;
    margin: 0
}

#welcome {
    background: linear-gradient(#34ebab 0%, #34ebe5 100%);
    height: 500px;
    width: 100%;
}

.paralex {
    vertical-align: middle
}


#bio {
    padding: 50px;
}

p {
    margin: 25px;
    font-size: 17px;
    max-width: 450px;
    margin-left: 475px;
    text-align: center;
}

.menu {
    list-style: none;
    top: 10px;
    right: 30px;
    position: fixed;
    cursor: pointer;
    font-family: 'Lobster', cursive;
}

.links {
    float: left;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.links:hover {
    background: linear-gradient(#3240a8 0%, #9d54c7 100%);
}



a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.img1{
    height: 450px;
}
img{
    height: 400px;
    width: 300px;
    margin: 20px;
    transition: transform .2s;
    
}
img:hover{
    transform: scale(0.9)    
}
.contact1 h3{
    display: inline;
}
.contact1 a{
    text-shadow:black;
    color: cornflowerblue;
}
